################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HTMLAglity/HtmlAglityExercises/.vs
/HTMLAglity/XMLProject/.vs/XMLProject
/HTMLAglity/ExcelAPITest/.vs/ExcelAPITest
/HTMLAglity/ExportExcelApi/.vs/ExportExcelApi
